  //registry.npmjs.org/:_authToken=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
  //npm.pkg.github.com/:_authToken=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
  @make-me-a-cup-of-tea:registry=https://registry.npmjs.org/
  @teemukoivisto:registry=https://npm.pkg.github.com/
